/* File: ./css/media-queries.css | Purpose: styles */
/* Mobile layout tweaks */
@media (max-width: 452px) {
  .navigation {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 11vh;
  }
  #second {
    background: #fface400;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    font-size: 66px;
  }
  .rotated-text {
    transform: rotate(2deg);
    white-space: nowrap;
    position: absolute;
    left: 65px;
    top: -2%;
    font-size: 216px;
    font-family: "Yellowtail", cursive;
    color: white;
  }

  .tinder--card {
    display: inline-block;
    width: 152vw;
    max-width: 477px;
    height: 73vh;
    margin-left: -22px;
    margin-bottom: 60px;
  }
  .tinder {
    height: 130vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    right: 0;
    width: 645px;
    margin-top: 360px;
  }

  img {
    border-style: none;
    width: 368px;
    margin-top: 47px;
  }

  .tinder--buttons button {
    border-radius: 50%;
    line-height: 100px;
    width: 100px;
    border: 0;
    background: #ffffff;
    display: inline-block;
    margin: 0 8px;
  }
  button#love:hover {
    background-color: #49ff33;
    /* transform: scale(1.25); */
  }
  h1 {
    font-size: 100px;
  }
  body,
  html {
    height: 155%;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin-top: -159px;
    margin-left: 167px;
    padding: 33px;
  }
  .image {
    width: 70%;
  }
  .profiletext__ {
    display: none;
  }

  h2 {
    font-weight: bolder;
    color: #898dbf;
    margin-top: 848px;
    font-size: 82px;
    margin-right: 304px;
    margin-left: 271px;
  }
  .col-md-3 {
    margin-left: 136px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 17px;
  }
}

/* Tablet layout placeholder */
@media (min-width: 453px) and (max-width: 999px) {
}

/* Desktop layout placeholder */
@media (min-width: 1000px) {
}
