/* File: ./sidenav/profiles/style.css | Purpose: styles */
/* Page background */
body {
  background-image: linear-gradient(#fd297b, #ff5864, #ff655b);

  font-family: sans-serif;
}

/* Gallery row layout */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 126px;
}
/* Create four equal columns that sit next to each other */
.column {
  flex: 25%;
  max-width: 23%;
  padding: 0 2px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - 2 columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - 1 column */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}
